.AppHeader {
  background-image: linear-gradient(#125292, #213b71);
  color: white;
  text-align: center;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  display: flex;
}
.AppHeader-title {
  font-size: 32px;
  padding: 16px;
  flex-grow: 2;
  margin-left: -12%;
  justify-content: center;
  align-content: center;
  text-align: center;
  justify-items: center;
  display: flex;
}
.AppHeader-logo {
  height: 30px;
  font-size: auto;
}
.AppHeader-back {
  align-self: center;
  width: 40px;
}
.bottomShadow {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}