.AddressItem {
  padding: 8px;
  margin-bottom: 8px;
  color: white;
  background: #223C6F;
  border-radius: 4px;
  max-width: 95vw;
  max-height: 58px;
}

.negative {
  background: white;  
  color: #223C6F;
}

.AddressItem-head {
  font-size: 14px;
  font-weight: bold;
}

.AddressItem-icon {
  flex-grow: 1;
}

.AddressItem-wallet {
  padding-left: 8px;
  flex-grow: 2;
}

.AddressItem-currency {
  margin-right: 4px;
}

.AddressItem-details {
  display: flex;
  font-size: 12px;
}

.AddressItem-address {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}