.TransactionHistoryItem {
  padding: 8px;
  margin-bottom: 8px;
  color: #223C6F;
  font-size: 10pt;
}
@media only screen and (max-width: 400px) {
  .TransactionHistoryItem-head {
    max-width: 120px;
  }
}

.TransactionHistoryItem-head {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TransactionHistoryItem-type {
  flex-grow: 1;
}

.TransactionHistoryItem-wallet {
  padding-left: 8px;
  flex-grow: 2;
}

.TransactionHistoryItem-amount {
  padding-left: 8px;
  flex-grow: 1;
  text-align: start;
}

.ACCEPTED {
  color: green;
}

.PENDING {
  color: orange;
}

.RELEASED {
  color: #fdbd00;
}

.CANCELLED {
  color: red;
}

.SETTLED {
  color: green;
}
