.Info-container {
  width: 94vw;
}

.withBorder {
  border: 1px solid #223C6F;
  border-radius: 4px;
}

.Info-title {
  padding: 8px;
  font-weight: bold;
  font-size: 16px;
}

.Info-content {
  padding: 0 8px 8px 8px;
  font-size: 14px;
  overflow-wrap: break-word;
}