.PaymentAmountInput {
  border-radius: 4px;
  max-width: 80vw;
  font-size: 17pt;
  margin: auto;
  height: 50px;
}

.halfWidth {
  width: 50%;
  height: 100%;
}

.PaymentAmountInput-currency {
  color: white;
  background: #223C6F;
  border-radius: 4px 0 0 4px;
}

.PaymentAmountInput-field {
  margin-top: 0;
  margin-bottom: 0;
}
