@import "~@material/fab/dist/mdc.fab.min.css";

.AddressDetails-payment-container {
  width: 95vw;
  text-align: center;
  padding-top: 16px;
}

.AddressDetails-payment {
  background-color: #223C6F;
}

.AddressDetails-awaiting-aproval {
  text-align: start;
  padding: 4px;
}