.TransactionHistoryTime {
  color: black;
  font-size: 12pt;
  text-align: center;
  padding: 16px;
}

.TransactionHistoryTime.small {
  font-size: 8pt;
}

.TransactionHistoryTime.big {
  font-size: 14pt;
}
