.AccountCard {
  background-color: #223C6F;
  border: 1px solid #223C6F;
  border-radius: 4px;
  width: 94vw;
  min-height: 140px;
}

.flatBottom {
  border-radius: 4px 4px 0px 0px;
}

.AccountCard-title {
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 8px;
}