.TransactionHistoryUpdate {
  width: 94vw;
  background: #223C6F;
  color: white;
  font-size: 18px;
}

.TransactionHistoryUpdate-time {
  padding: 8px 0;
  margin-left: 4px;
}

.TransactionHistoryUpdate-label {
  padding: 8px 0;
  margin-right: 4px;
}