.AppFooter {
  background: #223C6F;
  color: white;
  text-align: center;
  width: 100vw;
  position: fixed;
  bottom: 0px;
}

.topShadow {
  box-shadow: 0 -5px 5px -5px rgba(57, 63, 72, 0.3);
}

.hidden {
  display: none;
}