.TransactionHistoryStatus {
  width: 94vw;
  text-align: center;
  height: 5vh;
  font-size: 18px;
  background: #223C6F;
  color: white;
  border-radius: 4px 4px 0px 0px;
  padding: 4px 0px;
}

.TransactionHistoryStatus.PENDING {
  background: #F56D0B;
}

.TransactionHistoryStatus.ACCEPTED {
  background: green;
}

.TransactionHistoryStatus.SETTLED {
  background: green;
}
.TransactionHistoryStatus.RELEASED {
  background: #fdbd00;
}
.TransactionHistoryStatus.CANCELLED {
  background: red;
}

.TransactionHistoryStatus-label {
  padding: 4px;
}