.TransactionDetails {
  background-color: #223C6F;
  margin-top: -24px;
}

.TransactionDetails-account-name {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}
.TransactionDetails-label {
  text-align: left;
}
.TransactionDetails-account {
  padding: 0px 8px 8px 0px;
  font-size: 20px;
  color: white;
}

.TransactionDetails-conversion {
  padding: 8px 8px 8px 0px;
  font-size: 16px;
  color: antiquewhite;
}

.TransactionDetails-history {
  color: black
}