.QuickActions {
  padding: 8px 0 0 0;
}

.QuickActions-title {
  text-align: center;
  color: #223C6F;
  font-size: 14pt;
  font-weight: bold;
  padding: 8px;
}

.QuickAction-container {
  padding: 8px;
}