@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Oxygen", -apple-system, BlinkMacSystemFont,
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
#root {
  width: 100vw;
  height: 100vh;
}

.appLogo-container {
  position: absolute;
  bottom: 5px;
}
